@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Inter&family=Kumar+One&family=Limelight&family=Livvic:wght@600&family=Montserrat:wght@400;500;700;900&family=Nunito+Sans:opsz,wght@6..12,300;6..12,600&family=Open+Sans&family=Plus+Jakarta+Sans:wght@400;600&family=Public+Sans:wght@700&family=Racing+Sans+One&family=Revalia&family=Roboto+Mono:wght@500&family=Roboto:ital,wght@0,400;0,500;0,700;1,700&family=Russo+One&display=swap');

* {
    margin: 0;
    padding: 0;
}


.btn-1 {

    color: #FFF;
    font-family: Livvic;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    /* 155.556% */
    width: 153px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 24px;
    border: 2px solid #FFF;

}

.dds {
    color: #FFF;
    font-family: Livvic;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    /* 155.556% */
}

.fg h1 {
    color: #FFF;
    font-family: Livvic;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 100px;
    /* 156.25% */
}

.lk p {
    color: #FFF;
    font-family: Livvic;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    /* 155.556% */
    width: 710px;
    flex-shrink: 0;
}



.das {

    color: #FFF;
    text-align: center;
    font-family: Livvic;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    /* 100% */
    margin-bottom: 50px;

}

.dddf {
    color: #79C8C7;
    text-align: center;
    font-family: Livvic;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    /* 155.556% */
    margin-top: 20px;
}

.ddf {
    color: #FFF;
    text-align: center;
    font-family: Livvic;
    font-size: 15px;
    font-style: italic;
    font-weight: 500;
    line-height: 25px;
    /* 166.667% */
    margin-top: 15px;
}

.qator {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.dddg {

    display: flex;
    justify-content: space-between;
    height: 510px;
    align-items: center;
}

.burger {
    display: none;
}

.ulla {
    display: flex;
}

@media screen and (min-width:800px) and (max-width:1024px) {


    .sec-3 {
        margin-top: 60px;
    }

    .sec-2 {
        height: 1900px;
    }

    .lk p {
        width: 457px;
        margin: 0 auto;
    }

    .dddg {

        display: block;
        padding-top: 35px;
        text-align: center;
    }

    .qator {

        flex-wrap: wrap;
    }

    .box {
        width: 270px;
    }

    .boxf {
        width: 270px;
        margin: 0 auto;
    }

    .sec-2 {
        height: 960px;
    }

    .qotoe {
        gap: 20px;
    }


}

body {
    background: #004047;
}

@media screen and (max-width:576px) {

    .sec-3 {
        height: 650px
    }

    .gggg .qotoe {
        width: max-content;
        display: block;
        margin: 0 auto;

    }

    .gggg .qotoe div img {
        margin-top: 60px;
        width: 146.561px;
        height: 19.814px;
    }

    .dddg {
        display: block;
        padding-top: 46px;
    }

    .sec-4 .ohf {
        display: block;
        text-align: center;
        padding-top: 20px;
    }

    .faf {
        color: #FFF;
        text-align: center;
        font-family: Livvic;
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
        /* 100% */
    }

    .dasdad {
        height: 400px;
        display: flex;
        align-items: center;
    }

    footer .oyy {

        display: block;
        padding-top: 20px;

    }


    .burger {
        display: block;
    }

    .ulla {
        display: none;
    }


    .bkk img {
        margin: 0 auto;
        margin-top: 50px;

    }

    .lkk img {
        margin: 0 auto;

    }

    .fffdd {
        margin-top: 20px;
    }

    .fg h1 {
        color: #FFF;
        text-align: center;
        font-family: Livvic;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        /* 100% */
    }

    .lk p {
        color: #FFF;
        text-align: center;
        font-family: Livvic;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
        /* 186.667% */
        width: 327px;
        margin-top: 20px;
    }


    .qator {

        display: block;

    }

    .box {
        margin: 0 auto;
        width: 300px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .boxf {
        margin-top: 30px;

        margin: 0 auto;
        width: 300px;

    }

    .sec-2 {
        height: 1400px;
    }


    .das {
        color: #FFF;
        text-align: center;
        font-family: Livvic;
        font-size: 29px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
        /* 100% */
    }






}

.qotoe {
    display: flex;
    justify-content: space-between;

}

.gggg {
    padding-top: 80px;
}

.qotoe {
    padding-top: 60px;
}

.fffdd {
    color: #012F34;
    font-family: Livvic;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    /* 155.556% */
    border-radius: 24px;
    border: 2px solid #012F34;
    width: 153px;
    height: 48px;
    flex-shrink: 0;
}


.faf {
    color: #FFF;
    text-align: center;
    font-family: Livvic;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    /* 100% */


}




.ohf {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.fer h1 {

    color: #012F34;
    font-family: Livvic;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    /* 100% */


}

.oyy {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

footer {
    height: 90px;
    background-color: #002529;
}